<form name="ravensform" class="form" role="form">
    <div ng-hide="loading || sent">
        <div class="form-group" ng-class="{'has-error':errors.name}">
            <label>Name</label>
            <input name="name" type="text" class="form-control" placeholder="Your name" ng-model="data.name">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error':errors.email}">
                    <label>Email</label>
                    <input name="email" type="email" class="form-control" placeholder="Email address" ng-model="data.email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error':errors.phone}">
                    <label>Phone</label>
                    <input name="phone" type="text" class="form-control" placeholder="Phone number" ng-model="data.phone">
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':errors.subject}">
            <label>Subject</label>
            <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" ng-model="data.subject">
        </div>
        <div class="form-group" ng-class="{'has-error':errors.message}">
            <label>Message</label>
            <textarea name="message" class="form-control" placeholder="Write you message here..." style="height:100px;" ng-model="data.message"></textarea>
        </div>

        <div class="form-group">
            <div id="recaptchaDiv{{ key }}"></div>
            
        </div>

        <div>
            <span class="label label-danger" ng-show="error">{{ error }}</span>
        </div>

        <div>
            <button ng-if="!contactsubmitted" ng-click="submitcontactform()" type="button" class="btn btn-two">Send message</button>
        </div>
        
        


    </div>
    <div ng-show="loading">
        sending contact form
    </div>
    <div ng-show="sent">
        thank you! we will reply to your message promptly
    </div>

</form>